<h1><%= @result[:title] %></h1>



  <%= image_tag "http://image.tmdb.org/t/p/w150#{@result[:poster_path]}" %>
  <p><%= @result[:release_date] %></p>
  <p><%= @result[:vote_average] %></p>
  <p>Genres: <%= @result[:genres].map {|g| g[:name] }.join(", ") %></p>
  <p><%= @result[:overview] %></p>
  <p>Trailer:</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @result[:trailers][:youtube][0][:source] %>" frameborder="0" allowfullscreen></iframe>

<!-- poster_path
release_date
overview
[:trailers][:youtube][0][:source]
id
imdb_id
vote_average
[:genres].map {|g| g[:name] }.join(", ")
 -->