<!DOCTYPE html>
<html>
<head>
  <title>TmdbTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <%= "| Signed in as: #{current_user.email}" %>
    <%= link_to 'movies', movies_path %>
    <%= link_to 'my movies', my_movies_path %>
    <%= link_to 'my Lists', lists_path %>
    <%= link_to 'Find a movie', api_search_path %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>

  <% else %>
    <%= link_to "Sign In", "/users/sign_in" %>
    <%= link_to "Sign Up", '/users/sign_up' %>

  <% end %>

<%= yield %>

</body>
</html>
